@import "global";
@import "fonts";
@import "colors";
@import "responsive";
body
{   background-color: $MyViolet;
   background-image: url("../images/bg-desktop.svg");
}
header img
{
    max-width: 12em;
}
.container
{
    display: flex;
    max-width: 72em;
    max-height: 22em;
    margin: 4%;
}
.image img
{
    max-width: 96%;
}
.text
{
    flex: 50%;
    text-align: left;
    padding: 2em;
}
.text h1
{
    font-family: $myHeading;
    font-size:xx-large;
    color: white;
    font-weight: 800;
    margin:auto 0;
}
.text p
{
    font-family: $myBody;
    color: white;
    
}
button
{
    width: 11em;
    height: 2.5em;
    border-radius: 3em;
    text-align: center;
    background-color: white;
    color: #e882e8;
    border-style: none;
    box-shadow: 1px 2px 7px black;
    font-family: $MyViolet;
    font-size: large;
    cursor: pointer;
    transition: all .5s ease;
    &:hover
    {
        color: white;
        background-color:$MySoftMagenta;   
    }
}
.SMlinks
{  
   display: flex;
   justify-content: flex-end;
   margin: auto 0;
   position: relative;
   top: 4em;
   
}
.SMlinks i
{
    border: 2px solid white;
    border-radius: 100%;
    margin: 0.4em;
    font-size: x-large;
    padding: 0.5rem;
    color: white;
    transition: all .5s ease;
    cursor: pointer;
    &:hover
    {
        color: $MySoftMagenta;
        border-color: $MySoftMagenta;
    }
}